{% extends 'base.html.twig' %}

{% block title %}Exerice 1 - Symfony{% endblock %}

{% block body %}
    <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" href="/tasks">Taches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" active>Utilisateurs</a>
                </li>
    </ul>

    <div class="container">
        <div class="jumbotron">
            <h1>Liste d'utilisateurs</h1>
        
            {% for user in users %}
                <div class="card-body">
                    <h5 class="card-title">{{user.name}} {{user.firstname}}</h5>
                    <p class="card-text">{{user.mail}}</p>
                    <p class='card-text'>Crée le {{user.createdAt | date('d/m/Y')}}</p>
                    <a href="user/{{user.id}}" class="btn btn-primary">Voir plus</a>
                </div>
            {% endfor %}
        
        </div>
        <div class="jumbotron">
            <h2>Ajouter utilisateur</h2>
        {{form(formUsers)}}
        </div>
    </div>
{% endblock %}
